:markdown
  ## Requirements

  - Have an understanding of Git, GitLab, and modern development practices.
  - A broad knowledge of the application development ecosystem.
  - Be a good conversation partner for experienced developers.
  - Know multiple programming languages, Ruby on Rails experience is a plus
  - Excellent written and spoken English.
  - Accurate, nuanced, direct, and kind messaging.
  - Being able to work independent and respond quickly.
  - Able to articulate the GitLab mission, values, and vision.
  - Understand the difference between different online developer communities
  - You LOVE working with the GitLab community.
