---
title: GitLab Commit 2019
description: "GitLab Commit 2019: GitLab’s premier community conference"
image_title: '/images/events/gitlab-commit/gitlab-commit-header.png'
layout: default
suppress_header: true
extra_css:
  - faq.css
  - event-commit.css
  - simplify-devops.css
extra_js:
  - libs/on-scroll.js
  - in-page-nav.js
  - all-clickable.js
  - simplify-devops.js
---
-# .container-full.attention-bar-top
  .row.u-margin-top-xs.u-margin-bottom-xs
    .col-md-8.text-center
      %p GitLab Commit call for proposals closes July 19th
    .col-md-4.text-left
      %a.article-link{ href: "#proposals" }
        Learn more
        %i.fa.fa-arrow-right

.hero-video-container#hero-video-container
  %iframe#hero-video{ src: "", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", frameborder: "0", allowfullscreen: "1" }

.blank-header.commit-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }/
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }/
  .header-content
    %img.hero-commit-image-large{ src: "/images/events/gitlab-commit/gitlab-commit-horizontal-logo-white.svg", alt: "Gitlab Commit logo" }/
    %h3 GitLab's premier community conference
    %p GitLab Commit is bringing together GitLab users, contributors, and experts to connect, share and learn. Join us and commit to a day of DevOps inspiration and innovation.

.gitlab-content-container.commit-content-container
  .content.commit-content
    .row
      .col-md-6.column-register.text-center{ style: "background-attachment: fixed; background: url('/images/events/gitlab-commit/gitlab-commit-brooklyn-logo-date-image_2x.jpg') center center no-repeat; background-size: cover" }
        %a#eventbrite-widget-modal-trigger-63012432883.btn.cta-btn.orange{ href: "#" }Register

      .col-md-6.column-register.text-center{ style: "background-attachment: fixed; background: url('/images/events/gitlab-commit/gitlab-commit-london-logo-date-image_2x.jpg') center center no-repeat; background-size: cover" }
        %a#eventbrite-widget-modal-trigger-63010280445.btn.cta-btn.orange{ href: "#" }Register

    .js-in-page-nav-group{ role: "main", offset: 0, showhash: "true" }
      .row.u-margin-top-md.video-gitlab-explained-container
        .col-md-5.col-md-offset-1.text-left
          %p Join us for our inaugural community event! Commit Brooklyn will kick off at the Williamsburg Hotel and expand into a neighborhood takeover, with each venue in the two block radius showcasing its own unique theme. In London, Commit attendees will experience a blend of tradition and transformation in the newly renovated historic space The Brewery.

        .col-md-5.text-center
          .video-thumb-container{ "data-videourl": "https://www.youtube.com/embed/VBxnxJqWo3o?autoplay=1&rel=0" }
            %img.video-thumb{ src: "/images/events/gitlab-commit/gitlab-commit-header-thumbnail.png", alt: "Gitlab commit conference video thumb png" }/
            .video-play-container
              = partial "includes/simplify-devops/thumbnail-video-play", locals: { caption: "GitLab Commit 2019" }

      .row#proposals.u-margin-top-xl.u.margin-bottom-xl

      .row.u-margin-top-md
        .col-md-5.col-md-offset-1.text-center
          %img.title-icon{ src: "/images/events/gitlab-commit/call-for-proposal.jpg", alt: "Gitlab call for proposal jpg" }/
        .col-md-5.text-left
          %h3 Call for proposals
          %p We invite you to speak at GitLab Commit and share your software journey. We’re looking for stories that showcase the power of DevOps in action. Share the technologies and strategies you’ve employed, your challenges and success, or a behind-the-scenes look at how you are building something incredible.
          %a.btn.cta-btn.orange.margin-top20{ href: "https://docs.google.com/forms/d/e/1FAIpQLSdbDLOt7jYDlvZqgs2-IlOoLexszEZ0zGghA3HB-VEq_vVICA/viewform" } Submit

      .row.u-margin-top-md.js-in-page-nav-section#attend
        .col-md-10.col-md-offset-1.text-center
          %h2.u-text-brand{ style: "display: none" } Attend

      .row
        .col-md-5.col-md-offset-1.u-margin-top-sm.text-left
          %h3.u-text-brand Attend
          %p The inaugural GitLab Commit will bring together 500 GitLab creators for a day of learning, networking, and inspiration. Expect to go home with new tricks, fresh solutions to age-old problems, and some new friends! After a day of learning, we will conclude with a party that is not to be missed.
          %p <b>Brooklyn | September 17, 2019</b>
          %p <b>London | October 9, 2019</b>
          %p <b>Bay Area | January 2020 |</b> More information coming soon!

        .col-md-5.u-margin-top-sm.text-left
          .row
            .col-md-12
              .container-flex.u-margin-top-sm.u-margin-bottom-xs
                %img.title-icon{ src: "/images/events/gitlab-commit/new-feature.png", alt: "Gitlab talks png" }
                %h3.margin0 Talks
              %p Attend carefully curated sessions and talks presented by GitLab users, contributors, and product team members.
          .row.u-margin-top-xs
            .col-md-12
              .container-flex.u-margin-bottom-xs
                %img.title-icon{ src: "/images/events/gitlab-commit/communication.png", alt: "Gitlab talks png" }
                %h3.margin0 Ask the experts
              %p Join an "Ask the Experts" roundtable to get your questions answered by knowledgeable GitLabbers.
          .row.u-margin-top-xs
            .col-md-12
              .container-flex.u-margin-bottom-xs
                %img.title-icon{ src: "/images/events/gitlab-commit/access.png", alt: "Gitlab talks png" }
                %h3.margin0 Support
              %p Visit the GitLab Support Lab for 1:1 problem solving and troubleshooting.

      .row.u-margin-top-md.highlight-background.js-in-page-nav-section#speakers
        .col-md-10.col-md-offset-1.u-margin-top-sm.text-center
          %h2.u-text-brand{ style: "display: none" } Speakers
          %h2.u-text-brand Featured Speakers
          %h4 Our lineup will continue to grow, so please check back for more details.
          .row.u-margin-top-lg.u-margin-bottom-sm
            .col-md-4
              = partial "includes/events/speaker",
                locals: { photourl: "/images/team/picture_sytse-crop.jpg",
                name: "Sid Sijbrandij", title: "Co-founder & CEO", company: "GitLab" }
            .col-md-4
              = partial "includes/events/speaker",
                locals: { photourl: "/images/events/gitlab-commit/speakers/dan-kohn.jpg",
                name: "Dan Kohn", title: "Executive Director", company: "Cloud Native Computing Foundation" }
            .col-md-4
              = partial "includes/events/speaker",
                locals: { photourl: "/images/events/gitlab-commit/speakers/george-grant.jpg",
                name: "George Grant", title: "VP - Technology Fellow", company: "Goldman Sachs" }
            .col-md-4
              = partial "includes/events/speaker",
                locals: { photourl: "/images/events/gitlab-commit/speakers/jasmine-james.jpg",
                name: "Jasmine James", title: "IT Manager - DevOps Center of Excellence", company: "Delta Air Lines" }
            .col-md-4
              = partial "includes/events/speaker",
                locals: { photourl: "/images/team/kathywang-crop.jpg",
                name: "Kathy Wang", title: "Senior Director Security", company: "GitLab" }
            .col-md-4
              = partial "includes/events/speaker",
                locals: { photourl: "/images/team/mpundsack-crop.jpg",
                name: "Mark Pundsack", title: "VP of Product Strategy", company: "GitLab" }

      .row.u-margin-top-md.js-in-page-nav-section#learn
        .col-md-10.col-md-offset-1.u-margin-top-sm.text-center
          %h2.u-text-brand Learn
          %h4 What to expect at GitLab Commit
          .container
            .row.u-margin-top-sm
              .col-md-5.col-md-offset-1.text-left
                %h3 Cloud native
                %p Learn how to leverage cloud native technologies like Kubernetes, severless, and multicloud to build and run applications better and faster.
              .col-md-5.text-left
                %h3 DevOps in Action
                %p Take away practical advice and examples of how others have navigated their DevOps transformations. These sessions focus on actions and results rather than high level ideas.
            .row
              .col-md-5.col-md-offset-1.text-left
                %h3 Live coding
                %p These adrenaline-pumped sessions will feature do-ers on stage, live coding, debugging, and hacking. Join along with your laptop or just enjoy the show.
              .col-md-5.text-left
                %h3 Powered by GitLab
                %p Software has eaten the world and we are all better for it. Hear how developers like you are building on GitLab to solve large, world problems from humanitarian crises to space exploration.

      .row.u-margin-top-md.js-in-page-nav-section#schedule
        .col-md-10.col-md-offset-1.u-margin-top-sm
          %h2.u-text-brand.text-center Schedule
          .row.u-margin-top-sm
            .col-md-12.text-left
              %h4 Registration & Breakfast
              %p 8:00 – 9:00am
              <hr>
              %h4 Morning Keynote
              %p 9:00 – 10:30am
              <hr>
              %h4 Coffee Break
              %p 10:30 - 11:00am
              <hr>
              %h4 Main Stage Sessions
              %p 11:00am - 12:30pm
              <hr>
              %h4 Lunch
              %p 12:30 - 1:30pm
              <hr>
              %h4 Afternoon Breakout Sessions
              %p (Cloud Native DevOps, Security in the Developer Workflow, Live Coding, GitLab in Action)
              %p 1:30 - 4:15pm
              <hr>
              %h4 Closing Keynote
              %p 4:15 - 5:00pm
              <hr>
              %h4 GitLab Fun @ Brooklyn Bowl/London Swingers
              %p 5:00 - 8:00pm

      .row.u-margin-top-md.js-in-page-nav-section#stay-connected
        .col-md-10.col-md-offset-1.u-margin-top-sm
          %h2.u-text-brand.text-center Stay Connected
          .row.u-margin-top-sm
            %script{ src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js", type: "text/javascript", charset: "utf-8" }
            %form#mktoForm_2064
              :javascript
                MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 2064);

      .row.u-margin-top-md.js-in-page-nav-section#sponsor
        .col-md-10.col-md-offset-1.u-margin-top-sm.text-center
          %h2.u-text-brand Sponsors
          .row.u-margin-top-md.u-margin-bottom-lg
            .col-md-12
              = partial "/includes/events/commit/sponsor-logos-transparent", locals: { logos_data: data.sponsors, title: "Our Honored Sponsors", link_text: "sponsors", link_url: "#" }
              %h5
                Please email us at
                %a{ href: "mailto:commit@gitlab.com" }commit@gitlab.com
                to receive a sponsorship prospectus.

      .row.u-margin-top-md
        .col-md-10.col-md-offset-1.text-center
          %h4 Third event coming to the Bay Area January 2020 - More Information Coming Soon!

%script{ src: "https://www.eventbrite.com/static/widgets/eb_widgets.js", type: "text/javascript", charset: "utf-8" }

:javascript
    window.EBWidgets.createWidget({
      widgetType: 'checkout',
      eventId: '63010280445',
      modal: true,
      modalTriggerElementId: 'eventbrite-widget-modal-trigger-63010280445',
      onOrderComplete: function() {
        console.log('Eventbrite London order complete');
      }
    });

    window.EBWidgets.createWidget({
      widgetType: 'checkout',
      eventId: '63012432883',
      modal: true,
      modalTriggerElementId: 'eventbrite-widget-modal-trigger-63012432883',
      onOrderComplete: function() {
        console.log('Eventbrite Brooklyn order complete');
      }
    });
