.customer-logos-container.clear-background
  %p #{title}
  .logos-container
    - logos_data.each do |logo|
      - if logo.landing == true
        - if logo.asset_link
          %a{ href: "#{logo.asset_link}" }
            = partial "#{logo.logo}"
        - else
          = partial "#{logo.logo}"
  .see-all-link
    %a{ href: "#{link_url}" }
      See all #{link_text} →
